header {
    top: 0;
    left: 0;
    height: 50px;
    background: #4384F0;
    z-index: 30;

    a {
        color: white;
        background: transparent!important;
    }

    a:focus, a:hover {
        color: #eee;
        text-decoration: none;
        border-radius: 5px;
        background: #2277EF!important;
    }

    img {
        margin: -10px 10px -10px 0;
        height: 30px;
        display: inline-block!important;
    }

}

#submenu {
    position: fixed;
    top: 50px;
    left: 0;
    z-index: 20;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .09);

    img {
        height: 20px;
        display: inline-block;
        margin-right: 15px;
    }

    .active {
        border-bottom: 3px solid #0064D3;
    }
}
