#toolBar {
    position: fixed;
    top: 50px;
    height: 50px;
    z-index: 10;
    width: calc(100vw - 360px);
    right: 0;
    border-radius: 0;
    transition: top .3s;

    .menuList {
        position: absolute;
        top: 60px;
        left: 0;
        max-height: 60vh;
        border: none;
        opacity: 0;
        transition: visibility 0s linear .4s;
        transform-origin: 20px 0;
        background: white;
        border-radius: 5px;
        visibility: hidden;
        z-index: 20;
        box-shadow: 0 0 0 1px rgba(63,70,82,.15);
    }
    .menuList::before {
        content: ' ';
        display: block;
        position: absolute;
        top: -9px;
        left: 14px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 9px 9px;
        border-color: transparent transparent white;
        z-index: 22;
    }
    .menuList::after {
        z-index: 21;
        top: -11px;
        left: 13px;
        border-style: solid;
        content: ' ';
        position: absolute;
        border-color: transparent transparent rgba(63,70,82,.15);
        border-width: 0 10px 10px;
    }
    .menuList.active {
        visibility: visible;
        opacity: 1;
        border: 1px solid rgba(63,70,82,.15);
        box-shadow: none;
    }
    #fontSize, #fontFamily {
        .dropDown {
            transition: all .2s;
            max-width: 210px;
            height: 30px;
            padding-right: 10px;
            padding-left: 10px;
            font-size: 15px;
            line-height: 30px;
            border-bottom: 2px solid $c-Grey;
            i {
                line-height: 30px;
            }
        }
        .dropDown:hover, .dropDown.active {
            border-color: $c-SkyBlue;
            i {
                color: $c-SkyBlue;
            }
        }
        input {
            border: none;
            width: 50px;
            height: 30px;
            padding: 7px 0;
            line-height: 16px;
            font-size: 16px;
            background: transparent;
        }
        /* Hide input spinner */
        /* For Firefox */
        input[type='number'] {
            -moz-appearance:textfield;
        }
        /* Webkit browsers like Safari and Chrome */
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        ul {
            list-style: none;
            
            li {
                color: #1c1c1c;
            }
        }
    }
    .toolButton {
        display: inline-block;
        width: 30px;
        height: 30px;
        padding: 5px;
        border-radius: 4px;
    }
    .colorPicker {
        margin-top: 2px;
        width: 25px;
        height: 25px;
        border-radius: 4px;
        border: 1px solid rgba(0,0,0,.15);
    }
    .letterButton {
        height: 30px;
        line-height: 16px;
        border-radius: 5px;
        padding: 7px;        
    }
    .active {
        border: 1px solid rgba(0,0,0,.15);
        box-shadow: inset 1px 1px 6px rgba(0,0,0,.15), inset -1px -1px 0 rgba(255,255,255,.25);
    }
}

#toolBar.active {
    top: 100px;
}

