#workingSheet {
    position: fixed;
    top: 100px;
    right: 0;
    bottom: 0;
    width: calc(100% - 360px);
    z-index: 0;
    text-align: center;
    background: #F4F7FA;

    div {
        user-select: none;
    }

    .canvas-container {
        position: relative;
        background: white;
        box-shadow: 0 0 5px rgba(0,0,0,.1);
    }
}