$c-SkyBlue:         #72C1F4;
$c-Bluno:           #3487BF;
$c-PowderBlue:      #A5D6F6;
$c-Juicy:           #F7C161;
$c-Sunny:           #FED57E;
$c-SourYell:        #FFF8B7;
$c-Frog:            #9CD782;
$c-Mint:            #D6EECA;
$c-Rose:            #E87972;
$c-Blush:           #FD8880;
$c-Grey:            #CFCFCF;
$c-Text:            #857F99;
$c-Border:          #C3BFCC;
$c-BlackLight:      #2c3e50 !default;
$shade-1:           #d7dcdf !default;
$shade-0:           #fff !default;
$c-Teal:            #1abc9c !default;
